<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
	</head>

	<body>
		<div th:fragment="footer">

			<div class="container">

				  
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">Programación Web</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">INTEGRANTES</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">MERCEDES PAREDES</a></li>
            <li class="mb-2"><a href="#" class="text-muted">CRISTOPHER AGUILAR</a></li>
            <li class="mb-2"><a href="#" class="text-muted">BRIAN  NUÑEZ</a></li>
            
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">CODIGOS</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">U201617769</a></li>
            <li class="mb-2"><a href="#" class="text-muted">U201918814</a></li>
            <li class="mb-2"><a href="#" class="text-muted">U201811761</a></li>
            
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">TecnoTrash</h6>
          <p class="text-muted mb-4">Somos una Startup dedicada solucionar el problema de contaminación en las calles de Lima</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              
              
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2021 TecnoTrash UPC</p>
      </div>
    </div>
  </footer>
 

</body>
				
			</div>

		</div>
		
	</body>
	
</html>
