<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
</head>


<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

			<div class="container">

				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/reporte/bienvenido}">TECNOTRASH</a>
					
					<div id="navbar" class="collapse navbar-collapse show">

						<ul
							class="nav navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
							
							

							<li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" th:href="@{/reporte/listar}">Reporte</a></li>
							
							<li class="active"><a th:href="@{/direccion/listar}">Direccion de calle a reportar</a></li>
							<li class="active"><a th:href="@{/premio/listar}">Premio</a></li>
							<li class="active"><a th:href="@{/distrito/listar}">Distrito</a></li>
							<li class="active"><a th:href="@{/tipovia/listar}">Tipo de vía</a></li>
							
							<li class="active"><a th:href="@{/usuario/listar}">Usuario</a></li>
							<li class="active"><a th:href="@{/usuariopremio/listar}">Premio
									del usuario</a></li>
									<li class="active">
									<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
										<button class="btn btn-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
									</form></li>

						</ul>

					</div>

				</div>
				</div>
		</nav>
	</div>

</body>

</html>
