<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Busqueda de Tipos de Via</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="//code.jquery.com/jquery-1.11.1.min.js"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container-fluid">
    		<div class="row clearfix">
    			<h1 class="btn btn-primary btn-md left-block">Busquedas</h1>
    			<form th:action="@{/tipovia/buscar}" method="post" th:object="${tipovia}">
    			<div class="form-group">
    			<div class="col-sm-12">
    				<input type="text" class="form-control" th:field="*{NTipoVia}" id="tipo_via" placeholder="Ingrese el tipo de via que desea buscar">
    				</input>
    				
    			<div align="left">
    				<button type="submit" class="btn btn-danger">Buscar</button>
    				<a href="/tipovia/listar" class="btn btn-danger">Cancelar</a>
    			</div>
    			</div>	    				
    			</div>
    		</form>
    		</div>
    
    	
	    	<hr class="sidebar-divider">
	    	<table class="table table-bordered table-hover table-striped" id="tab_logic">
	    						<thead>
	    							<tr>
	    								<th class="text-center">CODIGO</th>
    									<th class="text-center">TIPO DE VIA</th>

    								
	    							</tr>
	    						</thead>
	    						<tbody>
	    							<tr th:each="d: ${listaTiposVias}">   <!-- th:each es un for-->
	    								<td th:text="${d.CTipoVia}"></td>
	    								<td th:text="${d.NTipoVia}"></td>

	
	    							</tr>
	    						</tbody>
	    					</table>
	    	<p th:text="${mensaje}" class="form-text text-dark"></p>
	    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>
