<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Reportes</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div> <!-- th:replace para usar la misma cabecera en todas las paginas-->
    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green" th:href="@{/reporte/irRegistrar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> Reporte
    					</a>
    					
						<a 	style="border-bottom-color: green" th:href="@{/reporte/irBuscar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">DESCRIPCION</th>
    								<th class="text-center">FECHA DEL REPORTE</th>
    								<th class="text-center">DIRECCION DEL LUGAR A REPORTAR</th>
    								<th class="text-center">PUNTOS ACUMULADOS</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="r: ${listaReportes}">   <!-- th:each es un for-->
    								<td th:text="${r.CReporte}"></td>
    								<td th:text="${r.TDescripcion}"></td>
    								<td th:text="${r.DFecha}"></td>
    								<td th:text="${r.direccion.NDireccion}"></td>
    								<td th:text="${r.QPuntosReporte}"></td>
    								<td><a th:href="@{/reporte/eliminar?id=}+${r.CReporte}">Eliminar</a></td>    								
    								<td><a th:href="@{'/reporte/modificar/'}+${r.CReporte}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    				
    					
    					
    	
    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column" align="center">
    					<img th:src="@{/imagenes/historia03.PNG}" width="400" height="400" alt="logo" align="middle">
    					</img>
    				</div>
    			</div>
    		</form>
    	</div>
    	
	
    					
    					
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>